{{ define "main" }}
    <main aria-role="main">
        <div class="main_inner">
            <h1>{{ .Site.Params.homeTitle }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>

    <span class="down_arrow">&#8681;</span>
    <span>Look at who we are!</span>
    <section class="people">
        {{- with .Site.Params.people }}
            {{ partial "people.html" . }}
        {{- end }}
    </section>
{{ end }}
